* {
  box-sizing: border-box;
}
body {
  padding: 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3, h2 {
  margin: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
}

.main__header {
  flex: 1 1 100%;
}

.reset-button {
  margin-bottom: 20px;
}






